.page-footer {
    margin-top: 0px !important;
    padding-top: 15px !important;
    height: 84px;
}
.progress {
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    background: #bdbdbd;
    overflow: visible;
}

.progress:hover{
    .dot{
        display: block;
    }
}

.dot{
    display: none;
    height:13px;
    width:13px;
    border-radius: 50%;
    position: absolute;
    top:-4px;
    z-index:1000;
}
