<footer class="page-footer white">

    <div class="progress">
        <div class="determinate deep-orange" [style.width]="percent()"></div>
    </div>
    <div class="row">
        <div class="col s4">
            <br-now-playing></br-now-playing>
        </div>
        <div class="col s4 center">
            <br-audio-controls (duration)="setDuration($event)"
                               (currentTime)="setCurrentTime($event)"></br-audio-controls>
        </div>
        <div class="col s4">
            <div class="right-align cursor-pointer" style="padding: 10px 0">
                <a class="valign center waves-effect waves-light btn btn-flat btn-floating" routerLink="/playlist">
                    <i class="material-icons" [style.color]="'black'">queue_music</i>
                </a>
            </div>
        </div>
    </div>
</footer>
