a {
    color: #666666;
    text-decoration: none;
    font-size: 0.9em;
}

a:hover {
    text-decoration: underline;
}

.track-info {
    padding-left: 85px;
    line-height: 1.3em;
}

img {
    max-height: 78px;
    min-height: 78px;
    max-width: 96px;
    margin-right: 3px;
}

.artist-image {
    position: fixed;
    bottom: -6px;
    left: 0px;
}
