
<ul class="pagination center-align" *ngIf="showLetters">
    <li class="waves-effect"><a routerLink="/artists">All</a></li>
    <li class="waves-effect" *ngFor="let letter of letters"><a [routerLink]="[{starts: letter}]">{{letter}}</a></li>
</ul>

<div track-scroll (pageYPositionChange)="currentPos($event)">

    <div class="flex-container">
        <div class="artist-container" *ngFor="let artist of artistsList | slice:0:num">
            <a [routerLink]="['/artists/' + artist.identifier, 'years']">
                <div class="round">
                    <img [src]="bandImage(artist.identifier)" alt="">
                </div>

                <div class="center-align title">{{artist.title}}</div>
            </a>
        </div>
    </div>
</div>

