<div track-scroll (pageYPositionChange)="currentPos($event)">
    <div class="flex-container">
        <div class="artist-container" *ngFor="let artist of artistsList | slice:0:num">
            <a [routerLink]="['/artists/' + artist.identifier, 'years']">
                <div class="round">
                    <img [src]="bandImage(artist.identifier)" alt="">
                </div>
                <div class="center-align">{{artist.title}}</div>
            </a>
        </div>
    </div>

</div>

