.show-card{
    overflow: visible !important;
}

.play-all-btn{
    position: absolute;
    top: -25px;
    right:20px;
}


.play-icon{
    display: none;
}

.track-row:hover {
    .play-icon{
        display: block;
        cursor: pointer;
        position: absolute;
        left: 15px;
    }
    .track-number{
        display: none;
    }
}
