<ul id="slide-out" class="side-nav">
    <li>
        <br-user-header></br-user-header>

    </li>

    <li><a class="waves-effect" routerLink="/artists"><i class="material-icons">speaker</i>Artists</a></li>
    <li><a class="waves-effect" routerLink="/artists/top/100"><i class="material-icons">supervisor_account</i>Top Played
        Artists</a></li>
    <li><a class="waves-effect" routerLink="/genres"><i class="material-icons">recent_actors</i>Genres</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="waves-effect" routerLink="/new"><i class="material-icons">filter_list</i>Newest Added Shows</a></li>
    <li><a class="waves-effect" [routerLink]="['/new', {sort:'date'}]"><i class="material-icons">sort</i>Newest Shows by
        Date</a></li>

    <li><a class="waves-effect" (click)="randomShow()"><i class="material-icons">shuffle</i>Random Show</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="waves-effect" routerLink="/live"><i class="material-icons">speaker</i>Live</a></li>

    <li>
        <div class="divider"></div>
    </li>


    <!--<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>-->
    <!--<li>-->
    <!--<div class="divider"></div>-->
    <!--</li>-->
    <!--<li><a class="subheader">Subheader</a></li>-->
    <!--<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
    <!--<li>-->
    <!--<div class="divider"></div>-->
    <!--</li>-->

    <li class="center-align footer">
        <div class="userView">
            Made with &hearts;
            by <a href="https://twitter.com/terrymooreii" target="_blank">Terry Moore II</a>
        </div>
    </li>

    <br-login></br-login>
</ul>
