<div class="valign-wrapper controls-wrapper">

    <a class="center waves-effect btn btn-flat btn-floating" (click)="repeatToggle()">
        <i class="material-icons previous" [ngClass]="{'deep-orange-text': isRepeat}" *ngIf="!isRepeatSingle || !isRepeatSingle">repeat</i>
        <i class="material-icons previous deep-orange-text" *ngIf="!isRepeat">repeat_one</i>
    </a>

    <a class="center waves-effect btn btn-flat btn-floating" (click)="previous()">
        <i class="material-icons previous">skip_previous</i>
    </a>

    <a class="valign center waves-effect waves-light btn btn-flat btn-floating btn-large deep-orange play" (click)="playPauseToggle()" >
        <i class="material-icons medium" *ngIf="!isPlaying">play_arrow</i>
        <i class="material-icons medium" *ngIf="isPlaying">pause</i>
    </a>

    <a class="center waves-effect btn btn-flat btn-floating" (click)="next()">
        <i class="material-icons next">skip_next</i>
    </a>

    <a class="center waves-effect btn btn-flat btn-floating" (click)="shuffle()">
        <i class="material-icons previous" [ngClass]="{'deep-orange-text': isShuffle}">shuffle</i>
    </a>

</div>
