.controls-wrapper {
    //margin-left: 30%;

    i {
        cursor: pointer;
    }
}

.play, .pause {
    //color: #ff5722 !important;
    margin-left: 20px;
    margin-right: 20px;
}

.disabled {
    background-color: white !important;
}

.disabled[disabled] {
    background-color: transparent !important;
    i {
        color: #DFDFDF !important;
    }
}

.play {
    i {
        font-size: 2.9em;
    }
}

.next, .previous {
    color: #343434;
    margin-bottom: 5px;
}

.center-controls-container {
    margin: 0 50% !important;
}

:host {
    display: flex;
    align-items: center;
    justify-content: center;
}
