.nav-wrapper {
    padding-left: 15px;

    > a {
        font-size: 1.6em !important;
        i {
            font-size: 1.1em !important;
        }

    }
}



.brand-logo {
    margin-left: 15px;
}
