
<router-outlet></router-outlet>

<div class="row loader valign-wrapper" *ngIf="show">
    <div class="col s6 offset-s3 valign center-align">
        <h5>
            <img src="assets/pig-lg-grey.png" alt="logo buster pig" height="120" width="210">
            <div class="title deep-orange-text" style="margin-top:40px; line-height:40px">Buster Radio</div>
            <div class="progress grey lighten-2">
                <div class="indeterminate deep-orange"></div>
            </div>
            <span class="sub-title grey-text">Loading Music Library</span>
        </h5>
</div></div>




