

.play-icon, .pause-icon, .resume-icon{
    cursor: pointer;
    position: absolute;
    font-size:3.2em;
}

.play-icon {
    display: none;
}

.pause-icon{
    display: none;
}

.track-row:hover {
    .equalizer-icon{
        display: none;
    }

    .pause-icon{
        display: block;
    }
    .play-icon, .pause-icon, .resume-icon{
        display: block;
    }
    .track-number{
        display: none;
    }
}

.track-row-info{
    line-height:1.3em;
    a{
        text-transform: inherit !important;
        color: #666666 !important;
        font-size:0.9em;
    }
    a:hover{
        text-decoration: underline !important;
    }
}


.no-results{
    width: 100%;
}

