.google{
    background-color: #dd4b39;
}

.btn{
    &.social {
        > :first-child {
            border-right: 1px solid rgba(0, 0, 0, 0.2);
        }
    }
    &.social {
        padding: 0 2rem 0 0;

        i {
            padding: 0 1rem;
            display: inline-block;
            margin-right: 1rem;
        }
    }
}
